/* This is the Reversi version (aka dark mode), meant to be paired with the Reversi public skin.
To use this skin, add Reversi as a parent skin and then use this skin.
Or, if you want to use other skins in addition to this one, just create a new skin and add this skin, Reversi, and the other skins you want to use as parents of the skin. */

.tagset ol.tags li:not(listbox)::after {
  content: "";
}

.tagset ol.tags.commas li:not(.listbox) {
  background: rgba(232,232,232,.08);
  padding-left: 3px;
  padding-right: 3px;
  margin-right: .1em;
  border-radius: 1px;
  line-height: 1.5em;
  box-sizing: border-box;
  /* OPTIONAL: un-bold warning tags in tagsets
  font-weight: normal; */
  /* OPTIONAL: each tag gets its own line
  display: block;
  margin-top: 0px;
  margin-bottom: .3em; */
}

.tagset ol.tags li:not(.listbox):nth-of-type(2n) {
  background: rgba(180,180,180,.25);
}

/* OPTIONAL: hover state
Tags in tagsets are not links, so giving them a hover state is a tad deceptive.
So only include a hover state if you think it will help you keep track of where you are when going through a large tagset.

.tagset ol.tags li:not(.listbox):hover {
  background: rgba(214,214,214,.03);
  color: #d030fd;
}

.tagset ol.tags li:not(.listbox):nth-of-type(2n):hover {
  background: rgba(164,164,164,.1);
} */
