.tagset ol.tags li:not(.listbox)::after {
  content: "";
}

.tagset ol.tags li:not(.listbox) {
  background: rgba(232, 232, 232, .5);
  border-bottom: none;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 0.1em;
  border-radius: 1px;
  line-height: 1.5em;
  box-sizing: border-box;
}

.tagset ol.tags li:not(.listbox):nth-of-type(2n) {
  background: rgba(180, 180, 180, .5);
}

.tagset ol.tags li:not(.listbox):hover, .tagset ol.tags li:not(.listbox):focus {
  background: rgba(214, 214, 214, .6);
  color: #000;
}

.tagset ol.tags li:not(.listbox):nth-of-type(2n):hover, .tagset ol.tags li:not(.listbox):nth-of-type(2n):focus {
  background: rgba(164, 164, 164, .6);
}
